
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<b>This is our Admin Page!</b>
<ul>
 
    <li>@Html.ActionLink("Manage Holiday Lists", "Index", "HolidayLists", new { area = "admin" },null)</li>
    <li>@Html.ActionLink("Manage Holidays", "Index", "Holidays", new { area = "admin" }, null)</li>
    <li>@Html.ActionLink("Manage Bikes", "Index", "Bikes", new { area = "admin" }, null)</li>
</ul>

